
body {
    height: 100vh;
    background-color: #D2B69C;
}

h1 {
    font-family:Arial,sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 35px;
    margin:auto;
    color: #000000;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.croix {
    margin: 20px;
    width: 30px;
    height: 30px;
}